@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.my-col {
    background-color: skyblue;
  }
  
  .scroll_list {
    width: 1000px;
    height: 450px;
    overflow-x: hidden;
    overflow-y: initial;
  }

  .displayAllItems {
    width: 1000px;
    height: 950px;
    overflow-x: hidden;
    overflow-y: hidden;
  }
  
  .scroll_list::-webkit-scrollbar{
    width: 8px;
  }
  
  .scroll_list::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 25px;
    background-color: rgba(192,192,192, 0.1);
  }
   
  /* Handle */
  .scroll_list::-webkit-scrollbar-thumb {
    background: #802c6e; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  .scroll_list::-webkit-scrollbar-thumb:hover {
    background: #2f1a35; 
  }
  .myocl {
    background-color: pink;
  }
   
  .my_image {
    border-radius: 10%;
    width: 210px;
  }

  .my_image:hover {
    border-radius: 10%;
    width: 71%;
    transform: scale(1.1);
    transition: 100ms;
  }
  
  
  .image_text {
    font-weight: bold;
    font-size: medium;
    margin-top: 1vw;
  }

  .my-col3 {
    background-color: blue;
   }
  .my-col1 {
   background-color: lawngreen;

  }
  
  .my-col2 {
    background-color: green;
   }
  
  .category_content_text {
  color:black;
  font-size: medium;
  text-align: center;
  font-weight: bold;
   }
  
   .categories_text {
      padding: 0em;
      font-family: 'Playfair Display', serif;
      color: #F0326E;
      font-size: 32px;
      padding-bottom: 15px;
      border-bottom-style: solid;
      border-bottom-color: #F0326E;
      border-bottom-width: 1px;
   }
  
   .button_edit {
     border-radius: 50px;
     padding: 2px 25px;
     font-size: small;
     background-color: #F0326E;
     border-color: #F0326E;
   }
  
   .button_edit:hover {
    border-radius: 50px;
    padding: 2px 25px;
    font-size: small;
    background-color: #E00047;
  
  }

  .button_edit:focus {
    border-radius: 50px;
    padding: 2px 25px;
    font-size: small;
    background-color: #F0326E;
    border-color: #F0326E;  
  }
  
  .scroll_col {
    background-color: rosybrown;
  }
  
  .faq_text {
    font-size: xx-large;
    font-weight: bold;
  }
  
  .fa-question-circle {
    color: #F0326E;
    font-size: 50px;
  }

  .fa-question-circle:hover {
    color: #E00047;
    font-size: 50px;
    transform: scale(1.5);
    transition: 100ms;
  }