@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.text-font > *{
    padding: 0em;
    font-family: 'Playfair Display', serif;
    color: rgb(241, 235, 235);
}

.feelfree_Text {
  color: rgb(241, 235, 235);
  font-weight: lighter;
}


/* body {
    background: url('../Images/img-home-background.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  } */

#header {
padding-top: 320px;
  }
  
  .col12{
    background-color: red;
  }

  .search_row {
    background-color: whitesmoke;
    border-radius: 6px;
    margin-right: 8%;
    margin-left: 8%;
    padding-left: 5%;
    padding-right: 7.5%;
  }

  .homepage_searchbox {
    width: 24vw;
    background-color: rgb(236, 231, 231);
    padding: 1px 12px;
    border: thick;
    border-color: teal;
    border-right-style: solid;
    border-right-color: #262626;
    border-right-width: 1px;
}

.homepage_textbox, .homepage_textbox:focus {
    border: none;
    background: none;
    font-size: 0.8vw;
}

.mtcol {
  border-right-style: solid;
  border-right-color: #262626;
  border-right-width: 1px;
}

.vendor_searchbox_icon {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 12px;
}

.city_searchbox_icon {
  height: 2.5vw;
  width: 1.5vw;
  margin-right: 12px;
}

.currentLocation_searchbox_icon {
   height: 1.5vw;
   width: 1.5vw;
   background-color: transparent;
}

.currentLocationButton {
   outline: none;
   border: none;
   background-color: transparent;
}

.currentLocationButton:focus {
  outline: none;
}


.get_started_button {
  width: 12vw;
  padding: 2px 12px;
  background-color: #e48900;
  border-color: #e48900;
  border-radius: 0%;
}

.get_started_button:hover {
 padding: 2px 12px;
 background-color: #b80d71;
 border-color: #b80d71;
 border-radius: 0%;
}

.one {
  background-color: blue;
}

.getStarted_text {
  font-size: 1.5vw;
  font-weight: bold;
  color: #262626;
  word-wrap: unset;
  display: inline-flex;
}
