@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.text-font > *{
    padding: 0em;
    font-family: 'Playfair Display', serif;
    color: rgb(241, 235, 235);
}

.feelfree_Text {
  color: rgb(241, 235, 235);
  font-weight: lighter;
}

/* body {
    background: url('../Images/img-home-background.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  } */

#header {
margin-top: 320px;
  }
  
  .search_row {
    background-color: whitesmoke;
    border-radius: 6px;
  }

  .homepage_searchbox {
    width: 28vw;
    background-color: rgb(236, 231, 231);
    padding: 0.1vw 0.8vw;
    border: thick;
    border-color: teal;
    border-right-style: solid;
    border-right-color: #262626;
    border-right-width: 1px;
}

.homepage_textbox, .homepage_textbox:focus {
    border: none;
    background: none;
}

.mtcol {
  border-right-style: solid;
  border-right-color: #262626;
  border-right-width: 1px;
}

.vendor_searchbox_icon {
  height: 2.5vw;
  width: 2.5vw;
  margin-right: 12px;
}

.city_searchbox_icon {
  height: 2vw;
  width: 1.5vw;
  margin-right: 12px;
}

.get_started_button {
  padding: 2px 25px;
  font-size: small;
  background-color: #e48900;
  border-color: #e48900;
  border-radius: 0%;
}

.get_started_button:hover {
 padding: 2px 25px;
 font-size: small;
 background-color: #e48900;
 border-color: #e48900;
 border-radius: 0%;
}

.one {
  background-color: blue;
}

.getStarted_text {
  font-size: 1.5vw;
  font-weight: bold;
  color: #262626;
}
