@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.text-font > *, h6 {
    padding: 0em;
    font-family: 'Playfair Display', serif;
    color: rgb(241, 235, 235);
}

/* body {
    background: url('../Images/img-home-background.JPG') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;

  } */

#header {
margin-top: 400px;
  }