@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

.stories_text {
    padding: 0em;
    font-family: 'Playfair Display', serif;
    color: #F0326E;
    font-size: 32px;
    padding-bottom: 15px;
    border-bottom-style: solid;
    border-bottom-color: #F0326E;
    border-bottom-width: 1px;
 }

.stories_card {
    width: 15rem;
    height: 18rem;
    margin: auto;
    border-radius: 20%;
    background-color: rgb(41, 23, 23);
    border: none;
}

.stories_card_image {
    width: 100%;
    height: 15vw;
    object-fit: cover;
    border-radius: 20%;
}

.stories_card_body {
    height: 7vw;
}

.stories_card_title {
    padding-bottom: 0%;
    font-size:  1vw;
    color: whitesmoke;
}

.stories_card_text {
    padding: 0%;
    font-size: 0.8vw;
    color: #f7aa35;
}

#stories_cards_carousel  .carousel-control-prev, #stories_cards_carousel  .carousel-control-next{
    top: 40%;
    bottom: 40%;
    height: 50px;
    width: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: #f0326e;
}

.handpicked_card {
    width: 12.5rem;
    height: 13.5rem;
    margin: auto;
    border-radius: 10%;
    background-color: rgb(41, 23, 23);
    border: none;
}

.handpicked_card_image {
    width: 100%;
    height: 10vw;
    object-fit: cover;
    border-top-right-radius: 10%;
    border-top-left-radius: 10%;
}

.handpicked_card_body {
    height: 7vw;
}

.handpicked_card_title {
    padding-bottom: 0%;
    margin-top: 0;
    font-size:  0.8vw;
    font-weight: lighter;
    color: whitesmoke;
}

.handpicked_card_text {
    padding: 0%;
    font-size: 0.5vw;
    font-weight: lighter;
    color: whitesmoke;
}

.handpicked_card_text_2 {
    padding: 0%;
    font-size: 0.4vw;
    color: whitesmoke;
}

#handpicked_cards_carousel  .carousel-control-prev, #handpicked_cards_carousel  .carousel-control-next{
    top: 40%;
    bottom: 40%;
    height: 50px;
    width: 50px;
    background-size: 100%, 100%;
    border-radius: 50%;
    background-color: #f0326e;
}
