.mycol {
    background-color: grey;
}

.modal-title {
    font-size: medium;
}

.modal-content {
    height: 550px;
    width: 500px;
    margin:auto;
    border-radius: 0%;
}

.modal-header, .modal-footer {
    border-bottom: 0 none;
    border-top: 0 none;
}
