.my-col {
    background-color: #3a3134;
}

.footer-link {
    font-size: x-small;
    text-decoration: none;
    color: #f7aa35;
}

.footer-link:hover {
    font-size: x-small;
    text-decoration: none;
    color: #ffee00;
}

.right_footer_text {
    font-size: x-small;
    text-decoration: none;
    color: #f7aa35;
}

.right_footer_text:hover {
    font-size: x-small;
    text-decoration: none;
    color: #ffee00;
}

.footer_text_box {
font-size: x-small;
width: 18vw;
}

.btn_footer_submit {
    font-size: 0.8vw;
    width: 8vw;
    text-align: center;
    }

.footer_brand_logo_text {
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 4px;
    font-weight: 300px;
    color: whitesmoke;
    font-size: smaller;
}

.footer_wmlogo {
    width: 15%;
    height: 15%;
 }

.footer_allrightsreserved_Text {
   color: #f7aa35;
   font-size: 8px;
}

.footer_smlogo {
    width: 25px;
    height: 25px;
}

.footer_smlogo:hover {
    transform: scale(1.5);
    transition: 100ms;
   }

   /* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px){ 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
    /* body {
      background-color: greenyellow;
     
    } */
} 

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* body {
    background-color: orange;
  } */
   
}
