.my-col {
    background-color: #3a3134;
}

.footer-link {
    font-size: x-small;
    text-decoration: none;
    color: #f7aa35;
}

.footer-link:hover {
    font-size: x-small;
    text-decoration: none;
    color: #ffee00;
}

.right_footer_text {
    font-size: x-small;
    text-decoration: none;
    color: #f7aa35;
}

.right_footer_text:hover {
    font-size: x-small;
    text-decoration: none;
    color: #ffee00;
}

.footer_text_box {
font-size: x-small;
width: 15vw;
}

.btn_footer_submit {
    font-size: x-small;
    width: 5vw;
    }