@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.navbar {
    padding-top: 30px;
    background-color: rgba(245, 245, 245, 0.3) !important;
  }

  .navbar_brand_logo {
  font-size: 18px !important;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  font-weight: 300px;
  color: #f0326e;
  }

  .wmlogo_navbar {
     width: 18%;
     height: 90%;
  }
  
  .nav-item {
    font-size: small;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
  }
  
  .nav_menu_text {
    color: #262626;
    font-weight: bolder;
  }

  .nav_menu_text:hover {
    color: #f0326e;
    font-weight: bolder;
  }
  
  .menu_active {
  font-weight: bolder;
  }
  
  .signup_button_edit {
    border-radius: 3.125rem;
    padding: 0.2rem 1.25rem;
    font-size: smaller;
    background-color: #F0326E;
    border: none;
    text-align: center;
  }

  .signup_button_edit:hover {
   border-radius: 3.125rem;
   padding: 0.2rem 1.25rem;
   font-size: smaller;
   background-color: #E00047;
 
 }