@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap");

.navbar {
    padding-top: 50px;
    background-color: transparent !important;
  }

  .navbar_brand_logo {
  font-size: 1.2rem !important;
  font-family: 'Josefin Sans', sans-serif;
  letter-spacing: 5px;
  font-weight: 300px;
  color: whitesmoke;
  }

  .wmlogo_navbar {
     width: 15%;
     height: 15%;
  }
  
  .nav-item {
    font-size: small;
    font-weight: bold;
    padding-right: 30px;
    text-decoration: none;
  }
  .nav_menu_text {
    color: whitesmoke;
  }

  .nav_menu_text:hover {
    color: #802c6e;
    font-weight: bolder;
  }
  
  .menu_active {
  font-weight: bolder;
  }
  
  .signup_button_edit {
    border-radius: 3.125rem;
    padding: 0.2rem 1.25rem;
    font-size: smaller;
    background-color: #F0326E;
    border: none;
    text-align: center;
  }

  .signup_button_edit:hover {
   border-radius: 3.125rem;
   padding: 0.2rem 1.25rem;
   font-size: smaller;
   background-color: #E00047;
 
 }